project = "infxx-219xxx"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
count = "1"
provision_var = "1"
app_disk_image= "reddit-app-base-1548870392"
db_disk_image="reddit-db-base-1548870734"
files_puma_service = "../files/puma.service"
files_deploy_sh = "../files/deploy.sh"
db_internal_ip = "${module.db.db_internal_ip}"
